@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed, 
      figure, figcaption, footer, header, hgroup, 
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
      	margin: 0;
      	padding: 0;
      	border: 0;
      	font-size: 100%;
      	font: inherit;
      	vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure, 
      footer, header, hgroup, menu, nav, section {
      	display: block;
      }
      body {
      	line-height: 1;
      }
      ol, ul {
      	list-style: none;
      }
      blockquote, q {
      	quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
      	content: '';
      	content: none;
      }
      table {
      	border-collapse: collapse;
      	border-spacing: 0;
      }
      body {
        background: #eef0d9;
        color: #9b242a;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
        text-align: center;
        padding: 20px;
        overflow-x: hidden;
      }
      p {
        line-height: 1.4;
        margin: auto;
        margin-bottom: 10px;
        max-width: 600px;
        text-align: justify;
      }
      hr {
        border: 3px solid #9b242a;
        border-radius: 5px;
        margin: 90px auto;
        width: 800px;
        max-width: 90%;
      }
      .img-logo {
        margin: 30px;
        height: 200px;
      }
      .img-promo {
        width: 300px;
        margin-bottom: 30px;
        max-width: 90%;
      }
      .news-banner, h1, h2 {
        font-size: 1.5em;
        font-weight: 800;
        line-height: 1.1;
        text-transform: uppercase;
      }
      .shows-title, .location {
        text-transform: uppercase;
      }
      .instagram-logo, .spotify-logo {
        margin: 0 20px 30px 20px;
        width: 60px;
      }
      .venmo-logo {
        margin-bottom: 30px;
        width: 120px;
      }
      .record-cover {
        margin: 30px 0;
        width: 150px;
        max-width: 100%;
      }
      a.btn {
        display: inline-block;
        background: #9b242a;
        color: #eef0d9;
        font-size: .75em;
        font-weight: 800;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;
      }
      a.btn:hover {
        background: #6c171c;
      }
      a.link-email {
        color: #333;
        display: inline-block;
        font-size: 1em;
        font-weight: 800;
        margin-bottom: 30px;
        text-decoration: none;
        transition: all .3s ease;
      }
      a.link-email:hover {
        color: #000;
      }
      .live-event-info {
        margin: 40px 20px;
        font-weight: 800;
      }
      .live-event-info a {
        text-decoration: none;
        color: #333;
        transition: all .3s ease;
      }
      .live-event-info a:hover {
        color: #000;
      }
      .location {
        font-size: 1.2em;
        line-height: 1.4;
      }
      .performing-with {
          margin: 5px 0 10px 0;
          font-size: .9em;
      }
      .contact {
        margin-top: 50px;
      }
      .ext-link-img {
        display: inline-block;
        width: 20px;
      }
      .live-event-info.ended {
          text-decoration: line-through;
          opacity: .5;
      }
